/.idea/inspectionProfiles/profiles_settings.xml
/.idea/jobs-by-apify.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.env
/.aider.tags.cache.v3/cache.db
/manual/dataset_linkedin-jobs-scraper_2025-06-22_01-50-18-438.json
